# configuration file for git-cliff (0.1.0)

[changelog]
# changelog header
header = """
# Changelog\n
All notable changes to this project will be documented in this file.\n
"""
# template for the changelog body
# https://tera.netlify.app/docs/#introduction
body = """
{% if version %}\
    ## [{{ version | trim_start_matches(pat="v") }}] - {{ timestamp | date(format="%Y-%m-%d") }}
{% else %}\
    ## [unreleased]
{% endif %}\
{% for group, commits in commits | group_by(attribute="group") %}
    ### {{ group | upper_first }}
    {% for commit in commits %}
        - {% if commit.breaking %}[**breaking**] {% endif %}{{ commit.message | upper_first }}\
    {% endfor %}
{% endfor %}\n
"""
# remove the leading and trailing whitespace from the template
trim = true
# changelog footer
footer = ""

[git]
# parse the commits based on https://www.conventionalcommits.org
conventional_commits = true
# filter out the commits that are not conventional
filter_unconventional = false
# process each line of a commit as an individual commit
split_commits = false
# regex for preprocessing the commit messages
commit_preprocessors = [
    { pattern = '\((\w+\s)?#([0-9]+)\)', replace = "([#${2}](https://github.com/stoically/syn-rsx/issues/${2}))"},
]
# regex for parsing and grouping commits
commit_parsers = [
    { message = "^[fF]eat", group = "Features"},
    { message = "^[dD]oc", group = "Documentation"},
    { message = "^[pP]erf", group = "Performance"},
    { message = "^[rR]efactor", group = "Refactor"},
    { message = "^[sS]tyle", group = "Styling"},
    { message = "^[tT]est", group = "Testing"},
    { message = "^[rR]elease", skip = true},
    { message = "^[cC]hore", group = "Chore"},
    { message = "^[fF]ix", group = "Fix"},
    { body = ".*[sS]ecurity", group = "Security"},
    { message = ".*", group = "Other", default_scope = "other"},
]
# filter out the commits that are not matched by commit parsers
filter_commits = false
# glob pattern for matching git tags
tag_pattern = "v[0-9]*"
# regex for skipping tags
skip_tags = "v0.1.0-beta.1"
# regex for ignoring tags
ignore_tags = ""
# sort the tags chronologically
date_order = false
# sort the commits inside sections by oldest/newest order
sort_commits = "oldest"
